.profile {
  background: #221F23;
  padding: 75px 0 125px;
  border-top: 1px solid #DFDFDF;
  .profileItems {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    .fio {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #DFDFDF;
      padding-bottom: 75px;
      margin-bottom: 75px;
      .image {
        border: 2px solid white;
        border-radius: 8px;
        margin-right: 100px;
        img {
          display: block;
          max-height: 400px;
        }
      }
    }
    .description {
      .title {
        text-transform: uppercase;
        margin-bottom: 75px;
      }
      .text {
        font-size: 25px;
        line-height: 35px;
        text-align: justify;
      }
    }
  }
}