.form {
  width: 700px;
  margin: 0 auto;

  .right  {
    .addVeteran {
      width: 100%;
      padding: 5px 30px;
      font-size: 18px;

      @media only screen and (max_width: 800px) and (min-width: 600px){
        width: 600px;
      }
      @media only screen and (max_width: 600px) and (min-width: 400px){
        width: 400px;
      }
      @media only screen and (max_width: 400px){
        width: 375px;
      }
    }

    .file {
      font-size: 20px;
      margin-bottom: 30px;
    }
    
    .submit {
      margin-top: 10px;
      padding: 10px 50px;
      text-transform: uppercase;
      &:hover {
        background: transparent;
        color: white;
        outline: 1px solid white;
        cursor: pointer;
      }
    }
  }
}