
.card {
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    border: 1px solid white;
    margin-right: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    .number {
      font-size: 20px;
    }
    .date {
      margin-bottom: 20px;
    }
    .title {
      margin-bottom: 20px;
    }
    .text {
      flex: 1;
      word-break: break-all;
    }
    .remove {
      background: white;
      text-transform: uppercase;
      padding: 5px;
      cursor: pointer;
      &:hover {
        background: none;
        color: white;
        border: 1px solid white;
      }
    }
  }